.container-fluid
    .row.ghost
        .col-sm-4.col-md-2.col-lg-1.col
        .col-sm-4.col-md-2.col-lg-1.col
        .col-sm-4.col-md-2.col-lg-1.col
        .col-md-2.col-lg-1.col.show-for-medium-up
        .col-md-2.col-lg-1.col.show-for-medium-up
        .col-md-2.col-lg-1.col.show-for-medium-up
        .col-lg-1.col.show-for-large-up
        .col-lg-1.col.show-for-large-up
        .col-lg-1.col.show-for-large-up
        .col-lg-1.col.show-for-large-up
        .col-lg-1.col.show-for-large-up
        .col-lg-1.col.show-for-large-up
