block header
    nav.navbar.navbar-light
        .container-fluid.container-fluid--pressed
            .navbar-brand
                include _logo-inline
                |&nbsp;Transinform
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='#') Контакты