extends templates/_container


block title
    title Главная


block article
    article
        #intro
            .container-fluid
                .row.align-content-center.align-items-end
                    .col-12.col-sm-6.order-sm-1
                        .intro__text
                            h1.heading Груз как повод
                            p.lead Повод для того что бы перепоручить нам и расслабиться. Трансинформ возьмет на себя полное сопровождение перевозки, оптимально и надежно доставит груз в нужное место и в нужное время.
                    .col-12.col-sm-6  
                        div.intro__image
                            include images/art_city.svg

        #directions.container-wrapper
            .container-fluid.container-fluid--pressed
                section
                    p.lead Наша компания осуществляет экспедиторские услуги на железнодорожном транспорте в СНГ, странах Балтии и западной Европы. Работаем с импортными, экспортными и транзитными перевозками проходящими через брестский ж\д терминал (Микашевичи).
                    hr
                    h2.heading Услуги
                    ul.list-unstyled.row
                        li.col-12.col-sm-6
                            h3.sub-heading Выгодные маршруты и условия
                            p Команда профессионалов найдет самое оптимальное решение, соответствующее целям вашего бизнеса.
                        li.col-12.col-sm-6
                            h3.sub-heading Документальное сопровождение
                            p Оформим пакет всех необходимых документов. Согласуем со всеми инстанциями.
                        li.col-12.col-sm-6
                            h3.sub-heading Таможенная поддержка
                            p Проверка и последующее оформление* всех необходимых документов. Что бы пересечение границы прошло легко мы предлагаем #[a(href="#") предварительное декларирование]. 
                        li.col-12.col-sm-6
                            h3.sub-heading За нами расчеты и платежи
                            p На всех этапах прохождения груза мы возьмем на себя оплату. Вам останется оплатить финальный чек.
                        li.col-12.col-sm-6
                            h3.sub-heading Хлопотные грузы
                            p Будь-то животные или опасные вещества возьмем хлопоты на себя: подберем нужный подвижной состав, согласуем дополнительные документы.
                        li.col-12.col-sm-6
                            h3.sub-heading Сопровождение груза
                            p Проведем любые работы с грузом, например, укрывание, погрузку, разгрузку, перевалку, маркировку, приемку, фотографирование. Если потребуется обеспечим живое сопровождение или даже охрану.
                        li.col-12.col-sm-6
                            h3.sub-heading Информационное сопровождение 
                            p Получайте актуальную информацию о состоянии перевозки, либо сами оговорите принципы поступления данных. Если же потребуется, как вашим услугам архивные данные по прошлым перевозкам.
                        li.col-12.col-sm-6
                            h3.sub-heading Автомобильная доставка
                            p на терминал или уже с терминала. Подберем соответствующий транспорт за разумную цену.
                    p.small.text-muted * Обратите внимание, что подготавливаем документы #[b только] для белорусских таможенных органов.

            
        #preliminary.container-wrapper
            .container-fluid.container-fluid--pressed
                section.row
                    .imgwrapper.col-12.col-md-5.col-lg-4.d-none.d-md-block
                        include images/art_preliminary.svg
                    .col
                        h2.heading Предварительное декларирование
                        p Подготовка сопроводительных документов для оформления грузов в белорусских таможенных органах.
                        p Что бы исключить случаи конфискации груза из-за ошибочно или неправильно заполненных документов; сократить время, необходимое для обработки грузов и их таможенного оформления; убрать простои вагонов из-за неправильно оформленных грузосопроводительных документов предлагаем вам воспользоваться услугой предварительного декларирования.
                        p #[b Процедура простая]: до прибытия груза в Брест, предоставляете нам графические копии сопроводительных документов на груз. Мы проверяем соответствие требованиям. Обмен документацией давно отлажен и полностью конфиденциален. Если документы оформлены правильно, оператор передает их в соответствующие службы железной дороги и таможенных органов для дальнейшего оформления. Если в документах обнаружены ошибки, мы незамедлительно уведомляем клиента о недочетах.
        #advantages.container-wrapper
            .container-fluid.container-fluid--pressed
                section.text-md-center
                    h2.heading Почему мы?
                    .row
                        .col-12.col-md-4
                            .row
                                .col.col-auto.col-md-12
                                    .imgwrapper
                                        include images/art_vitruvian.svg
                                .col.col-md-12
                                    h3.sub-heading Качество
                                    p Для выполнения этого обязательства организована система постоянного контроля качества моторного топлива, которая исключает реализацию некачественных нефтепродуктов.
                        .col-12.col-md-4
                            .row
                                .col.col-auto.col-md-12
                                    .imgwrapper
                                        include  images/art_care1.svg
                                .col.col-md-12
                                    h3.sub-heading Надежность
                                    p Наиболее надежным способ сохранить деньги для россиян стало вложение в недвижимость – таковы данные опроса, проведенного Всероссийским центром изучения общественного мнения (ВЦИОМ).
                        .col-12.col-md-4
                            .row
                                .col.col-auto.col-md-12
                                    .imgwrapper
                                        include images/art_speed.svg
                                .col.col-md-12
                                    h3.sub-heading Скорость
                                    p Скорость лазерной обработки на оборудовании Trotec почти в два раза выше, чем у других брендов.

        #contacts.container-wrapper
            section.container-fluid.container-fluid--pressed
                h2.heading Контакт
                .row
                    .col-12.col-md-6
                        h3.sub-heading Мы здесь
                        p ул. Менжинского, 18а
                            br
                            | г. Брест, Беларусь
                    .col-12.col-md-6
                        h3.sub-heading На связи
                        p тел./факс: +375 (162) #[b 212-059], #[b 210-003], #[b 273-177], #[b 273-777]
                        p e-mail: 
                            a(href="") #[b transinform@brestrans.info]
            #map-container
                #map
