extends templates/_container


block title
    title Главная


block article
    article
        #intro.container-wrapper
            .container-fluid
                h1.heading Груз это только повод
                p.lead Повод для того что бы перепоручить нам и расслабиться
                p Трансинформ возьмет на себя полное совпровождение перевозки, оптимально и надежно доставит груз в нужное место и в нужное время
                div.intro__image
                    include images/city_with_rail.svg

                h2.sub-heading Компании принявшие более взвешенные решения с #{company}
                ul.row.list-unstyled
                    li.col-12.col-sm-6.col-md-4.col-lg-2
                        img(src='images/abnamro.svg')
                    li.col-12.col-sm-6.col-md-4.col-lg-2
                        img(src='images/doordash.svg')
                    li.col-12.col-sm-6.col-md-4.col-lg-2
                        img(src='images/heinekennew.svg')
                    li.col-12.col-sm-6.col-md-4.col-lg-2
                        img(src='images/huawei.svg')
                    li.col-12.col-sm-6.col-md-4.col-lg-2
                        img(src='images/telegramnew.svg')
                    li.col-12.col-sm-6.col-md-4.col-lg-2
                        img(src='images/ubernew.svg')
                        
        #directions.container-wrapper
            .container-fluid
                section
                    p Наша компания осуществляет экспедиторские услуги на железнодорожном транспорте в СНГ, странах Балтии и западной Европы. Работаем с импортными, экспортными и транзитными перевозками.
                    h2.heading Услуги
                    ul.list-unstyled.row
                        li.col-12.col-sm-6.col-md-4.col-xl-3 
                            h3.sub-heading Поиск выгодных маршрутов и условий
                        li.col-12.col-sm-6.col-md-4.col-xl-3
                            h3.sub-heading Документальное сопровождение
                            p Оформим пакет всех необходимых документов
                        li.col-12.col-sm-6.col-md-4.col-xl-3 
                            h3.sub-heading Таможенная поддержка
                        li.col-12.col-sm-6.col-md-4.col-xl-3 
                            h3.sub-heading За нами рассчеты и платежи
                        li.col-12.col-sm-6.col-md-4.col-xl-3 
                            h3.sub-heading Хлопотные грузы
                            p Будь-то животные или опасные вещества возьмем хлопоты на себя: подберем нужный подвижной состав, согласуем дополнительные документы
                        li.col-12.col-sm-6.col-md-4.col-xl-3 
                            h3.sub-heading Сопровождение груза
                            p Проведем любые работы с грузом, например, укрывание, погрузку, разгрузку, перевалку, маркировку, приемку, фотографирование. Если потребуется обеспечим живое сопровождение или даже охрану.
                        li.col-12.col-sm-6.col-md-4.col-xl-3 
                            h3.sub-heading Информационное сопровождение 
                            p Получайте акутальном информацию о состоянии перевозки, либо сами оговорите принципы поступления данных. Если же потребуется, как вашим услугам архивные данные по прошлым перевозкам.
                        li.col-12.col-sm-6.col-md-4.col-xl-3 
                            h3.sub-heading Автомобильная доставка
                            p на терминал или уже с терминала

            
        #technologies.container-wrapper
            .container-fluid
                section
                    h2.heading Предварительное декларирование
                    p 
        
            
        #contacts.container-wrapper
            section.container-fluid
                h2.heading Контакт
                .row
                    .col-12.col-md-6
                        h3.sub-heading Мы здесь
                        p Наши двери всегда открыты
                        
                        h5 Наш офис
                        p ул. Менжинского, 18а
                            br
                            | г. Брест, Беларусь
                        p тел./факс: +375 (162)
                            br 
                            |......212059, 
                            br 
                            |......210003, 
                            br
                            |......273177, 
                            br 
                            |......273777
                        p e-mail: 
                            a(href="") transinform@brestrans.info



        #office.col-12.col-md-6