extends templates/_container


block title
    title Главная


block article
    article
        #intro.container-wrapper
            .container-fluid
                h1.heading Груз это только повод
                p.lead Повод для того что бы перепоручить нам и расслабиться
                div.intro__image
                    include images/city_with_rail.svg
                //ul
                //    li Полная адаптация продукта под&nbsp;бизнес-процессы заказчика
                //    li Сопровождение в&nbsp;течение всего жизненного цикла программного обеспечения
                //    li 100% точность данных о&nbsp;дислокации и&nbsp;техническом состоянии подвижного состава

                h2.sub-heading Компании принявшие более взвешенные решения с #{company}
                ul.row.list-unstyled
                    li.col-12.col-sm-6.col-md-4.col-lg-2
                        img(src='images/abnamro.svg')
                    li.col-12.col-sm-6.col-md-4.col-lg-2
                        img(src='images/doordash.svg')
                    li.col-12.col-sm-6.col-md-4.col-lg-2
                        img(src='images/heinekennew.svg')
                    li.col-12.col-sm-6.col-md-4.col-lg-2
                        img(src='images/huawei.svg')
                    li.col-12.col-sm-6.col-md-4.col-lg-2
                        img(src='images/telegramnew.svg')
                    li.col-12.col-sm-6.col-md-4.col-lg-2
                        img(src='images/ubernew.svg')
                        
        #directions.container-wrapper
            .container-fluid
                section
                    h2.heading Направления деятельности
                    ul.list-unstyled.row
                        li.col 
                            h3.sub-heading Разработка, внедрение и поддержка
                            p Разработка, внедрение, поддержка и сопровождение автоматизированных систем управления транспортных компаний (АСУ ТК).
                        li.col 
                            h3.sub-heading Информационное обслуживание
                            p Оказание услуг по отслеживанию дислокации и технического состояния вагонов как по территории РЖД, так и на железнодорожных администрациях стран СНГ и стран Балтии. Логическая корректировка данных и передача клиенту в требуемом режиме и формате.
                        li.col
                            h3.sub-heading Оказание дилерских услуг
                            p Распространение и интеграция программных продуктов компании «СТМ» — ведущего разработчика специализированного программного обеспечения для железнодорожной логистики и внешнеэкономической деятельности.
            
        #technologies.container-wrapper
            .container-fluid
                section
                    h2.heading Технологии
                    p Использование современных технологий при осуществлении проектов — гарантия долгожития получившихся решений, их масштабируемости, переносимости на новые операционные системы и совместимости с параллельными решениями. При создании проектов, специалисты компании «Транс информ» используют в работе самые современные информационные технологии. В зависимости от требований задачи применяются различные программные архитектуры — локальные приложения, «клиент-серверные», многозвенные.
                
        #perspectives.container-wrapper
            .container-fluid
                section
                    h2.heading Перспективы
                    p В настоящее время «Транс информ» динамично развивающаяся компания, открытая для новых проектов и готовая предложить будущим партнерам современные комплексные информационные решения.
                    
        
            
        #contacts.container-wrapper
            section.container-fluid
                h2.heading Контакт
                .row
                    .col-12.col-md-6
                        h3.sub-heading Мы здесь
                        p Наши двери всегда открыты
                        
                        h5 Наш офис
                        p ул. Менжинского, 18а
                            br
                            | г. Брест, Беларусь
                        
                        
                    #office.col-12.col-md-6